aside > address {
  display: flex;
  justify-content: space-around;
}

aside > address > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > address > div > a {
  color: silver;
  text-decoration: none;
}


.operaHour {
  display: flex;
  flex-direction: column;
}

.operaHour > ul {
  align-self: center;
}

aside > h2 {
  text-align: center;
}