/*
Student Name:Yuriko Uchida
Student Number: #200448500
Group Name: Group_Yuriko
Program: Computer Programming (CMPG)  
Final Project
Due: December 17, 2021
*/


/* Set the generic CSS styles */
body, header, footer {
  background-color: #272729;
  font-family: Arial, Helvetica, sans-serif;
}

h1, li, a, p {
  color: #C0C0C0;
}

h3, h5, .fontRed {
  color: #ff3333;
}

a {
  text-decoration: none;
}

h1 {
  text-shadow: 1.25px 1.25px 2px #000000;
  font-size: 55px;
  font-weight: bold;
  padding: 23px;  
}

h3 {
  text-shadow: .5px .5px 1px #000000;
  font-weight: bold;
  padding-top: 30px;  
}

article#pizzaMenu, article#storeInfo, article#openingHours {
  padding-bottom: 200px;  
}

/* Styles for footer */
footer > div.jumpUpTop {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #dddddd;  

  position: fixed;
  bottom: 50px;  
  right: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}


/* Styles for menu contents */
article#pizzaMenu {
  width: 100%;
}

article#pizzaMenu img.pizza {
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

article#pizzaMenu > div  {
  width: 850px;
  margin: 0 auto;
  border: .75px #868686 solid;
  border-radius: 10px;
}

article#pizzaMenu > div > div {
  width: 500px;
}



/* Styles for store info. contents */
/* Set block-level elements at the center */
address {
  display: flex;
  justify-content: space-evenly;
}

address > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

article#openingHours > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

/* Styles for nav bar */
/* change nav bar color */
ul.nav > li.nav-item > a.nav-link {
  transition-property: all;
  transition-duration: .3s;
}

ul.nav > li.nav-item > a.nav-link.active {
  background-color: #ff4d4d;
  color: #000000;
}

ul.nav > li.nav-item > a.nav-link.nonActive {
  color: #C0C0C0;
  border: .5px #C0C0C0 solid;
  border-radius: 10px;
}

ul.nav > li.nav-item > a#orderLink.nav-link {
  color: #ff4d4d;
  font-weight: bold;
  border: 5px #ff4d4d solid;
  border-radius: 10px;
  height: 47px;
}

ul.nav > li.nav-item > a.nav-link:hover, 
ul.nav > li.nav-item > a#orderLink:hover {
  background-color: #ff4d4d;
  color: #FFFFFF;
  text-shadow: .5px .5px .5px #000000;
}

.articleNonSelected {
  /* display: none; */

  opacity: .1;
  transform: translate(0, 10px);
  transition: all 1.75s;
}

.articleFadein {
  opacity: 1;
  transform: translate(0, 0);
}


.imgDivFocused {
  position: fixed;
  top: 155px;
  left: calc(50% - 300px);

  width : 600px;
  background-color: #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgFocused {
  display: inline-block;
  height: 500px;
  width : 500px;
}

